.divider-with-text-wrapper {
  width: 100%;
  padding: 20px 0;
  .divider {
    position: relative;
    border-bottom: blue;
    width: 100%;
    span {
      color: blue;
      background-color: white;
      position: absolute;
      padding: 0 10px;
    }
  }
}
