<main>
  <section class="flex-row align-start-center">
    <mat-icon>home</mat-icon>
    <span>></span>
    <span>Komponentit</span>
    <span>></span>
    <span>Emolevyt</span>
  </section>

  <h1>Emolevyt</h1>
  <section class="flex-row align-space-between-center">
    <div>
      <mat-form-field appearance="outline" class="smaller-form-field">
        <mat-label>Filter</mat-label>
        <mat-select disableRipple>
          <mat-option value="1">Option 1</mat-option>
          <mat-option value="2">Option 2</mat-option>
          <mat-option value="3">Option 3</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <button mat-raised-button>filter</button>
  </section>

  <section class="flex-row align-space-between-center">
    <p>Näytetään : 1 - 25 / 412</p>
    <div class="flex-row align-center-center">
      <button mat-icon-button>
        <mat-icon>apps</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon>grid_view</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon>list</mat-icon>
      </button>
    </div>
  </section>
</main>
