// .navigation-items {
//   list-style: none;
//   padding: 0;
//   margin: 0;
// }

// mat-toolbar.mat-primary {
//   background-color: white;
// }

// a {
//   text-decoration: none;
//   color: white;
//   font-family: "Jura", sans-serif;
//   font-family: "Source Sans Pro", sans-serif;
// }

// a:hover {
//   color: gray;
// }

:host {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 300;
}

mat-toolbar {
  height: 65px;
}

// app-nokia-logo {
//   cursor: pointer;
// }

button {
  transform: scale(1.2);
}

h1 {
  margin: 0;
}
