<mat-toolbar class="align-space-between-center">
  <section class="flex-row">
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
    <app-logo></app-logo>
  </section>

  <section class="flex-row">
    <button mat-icon-button>
      <mat-icon>person</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon>shopping_cart</mat-icon>
    </button>
  </section>
  <!-- <ul class="flex-row navigation-items">
    <li>
      <a routerLink="/home">Koti</a>
    </li>
    <li>
      <a routerLink="/add-product">Lisää työmaa</a>
    </li>
    <li>
      <a style="cursor: pointer">Kirjaudu ulos</a>
    </li>
  </ul> -->
</mat-toolbar>
