img {
    width: 200px;
    margin-bottom: 40px;
}

.nav-caption {
    padding-left: 10px;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 1px;
    color: rgb(217, 217, 217);
}

mat-icon {
    color: rgb(217, 217, 217);
}

a {
    text-decoration: none;
    display: block;
    color: inherit;
    margin: 20px
}