<footer style="margin-top: 5rem">
  <app-footer-questions
    (openContactDialog)="this.openContactDialog.emit()"
  ></app-footer-questions>

  <section style="padding: 2rem">
    <h1>TIETOA MEISTÄ</h1>
    <mat-divider></mat-divider>
    <div class="wrapper">
      <p class="text-dwhite">Huollamme kaikki maanrakennus ja</p>
      <p class="text-dwhite">maatalouskoneet sekä lisälaitteet</p>
    </div>

    <h1>YHTEISTIEDOT</h1>
    <mat-divider></mat-divider>
    <div class="wrapper">
      <p class="text-dwhite">Riku Autio 045 139 3535</p>
      <p class="text-dwhite">Jani 040 965 1774</p>
    </div>

    <h1>OSOITETIEDOT</h1>
    <mat-divider></mat-divider>
    <div class="wrapper">
      <p class="text-dwhite">Punasillantie 32 A</p>
      <p class="text-dwhite">40950 Muurame</p>
    </div>
  </section>
</footer>
